---
title: Le Wagon - Middleman
---
<%= partial "layouts/banner" %>
<%= partial "layouts/cards" %>
<div id="home">
  <div class="home-content">
    <p>
    </p>
    <p class="about">
      <%= link_to "", "about.html" %>
    </p>
  </div>
</div>
